form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 32px;
    text-align: center;
    width: 33%;
    margin-left: 33%;
    margin-top: 14%;
    color: white;
} 

header {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 30px;
    color: white;
}

header > a {
    cursor: pointer;
    color: white;
}

section {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 180px;
}

#tamaño {
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
}

button {
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 21px;
    height: 35px;
    border-radius: 6px;
}